.hero {
    background: linear-gradient(to right, rgba(27, 156, 203, 0.8), rgba(48, 152, 218, 0.2)),
                url("https://images.unsplash.com/photo-1473492201326-7c01dd2e596b?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1351&q=80");
    background-position: top;
    background-size: cover;
    height: 60vh;

    .hero-body {
        height: 100%;
        display: flex;
        margin-left: 3rem;
    }

    .subtitle {
        line-height: 1.5;
    }

    .wrapper {
        background-color: rgba(255, 255, 255, 0.9);
        align-self: center;
        width: 40%;
        padding: 2rem;
    }
}

.fake-input-btn {
    background-color: white;
    width: 100%;
    color: #363636;
    border: 1px solid #dbdbdb;
    text-align: left;
    cursor: pointer;
    box-shadow: none;
    font-size: 1rem;
    height: 2.5em;
    line-height: 1.5;
    border-radius: 290486px;
    padding-left: calc(calc(0.75em - 1px) + 0.375em);
    padding-right: calc(calc(0.75em - 1px) + 0.375em);
    padding-bottom: calc(0.5em - 1px);
    padding-top: calc(0.5em - 1px);

    &:hover {
        border-color: #5a5a5a;
    }
}


@media screen and (max-width: 860px) {
    .hero {
        height: 55vh;
        
        .hero-body {
            margin-left: 2rem;
        }

        .wrapper {
            width: 50%;
        }
    }
}

@media screen and (max-width: 450px) {
    .hero {
        height: 100vh;

        .hero-body {
            margin-left: 0;
        }

        .wrapper {
            width: 100%;
        }
    }
}