{% extends 'core/base.html' %}

{% load humanize static %}

{% block styles %}
<link rel="stylesheet" href="https://unpkg.com/bulma-modal-fx/dist/css/modal-fx.min.css" />
{% endblock %}

{% block content %}
<section class="section" id="app">
    <div class="container">
        <div class="columns is-desktop">
            <div class="column">
                <div class="card">
                    <div class="card-content">
                        <div class="media">
                            <div class="media-left">
                                {% if user.profile.avatar %}
                                <figure class="image is-48x48">
                                    <img class="is-rounded" src="{{ user.profile.avatar.url }}" alt="{{ user.username }}'s Profile Image'">
                                </figure>
                                {% else %}
                                <figure class="image is-48x48">
                                    <img class="is-rounded" src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
                                </figure>
                                {% endif %}
                            </div>
                            <div class="media-content">
                                <p class="title is-4">{{ user.username }}</p>
                                <p class="subtitle"><small class="has-text-grey is-size-6">${ followerCount } followers</small></p>
                                <p>{{ user.profile.bio }}</p>
                                {% if user == request.user %}
                                <a href="{% url 'edit_profile' request.user.username %}" class="button mt-3">Edit Profile</a>
                                {% endif %}
                            </div>
                            {% if user != request.user %}
                            <div class="media-right">
                                <figure v-if="following" class="image is-24x24">
                                    <img v-on:click="unfollow()" class="is-clickable" src="{% static 'profiles/images/following.svg' %}" alt="follow button">
                                </figure>
                                <figure v-else class="image is-24x24">
                                    <img v-on:click="followUser()" class="is-clickable" src="{% static 'profiles/images/follow.svg' %}" alt="follow button">
                                </figure>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="column is-two-thirds-desktop">
                <div class="px-4">
                    {% if request.user == user %}
                    <div class="is-flex is-justify-content-space-between is-align-content-center">
                        <h2 class="title is-3">My Library</h2>
                        <figure class="image is-32x32">
                            <img class="is-clickable" v-on:click="toggleShelfModal()" src="{% static 'profiles/images/plus_square.svg' %}" alt="Add a Bookshelf button">
                        </figure>
                    </div>

                    {% else %}
                    <h2 class="title is-3">{{ user.username|title }}'s Library</h2>
                    {% endif %}
                </div>

                <article class="card block is-clickable" v-for="(shelf, index) in shelves" v-bind:id="shelf.id">
                    <div class="card-content is-flex is-justify-content-space-between is-align-content-center">
                        <h5 class="title is-5 mb-0"><a v-bind:href="shelf.detailURL">${ shelf.name }</a></h5>
                        <div class="is-flex is-justify-content-space-between is-align-content-center">
                            ${ shelf.count }
                            <div class="is-flex">
                                <figure class="image is-24x24 mr-2">
                                    <img class="ml-2 " src="{% static 'profiles/images/book.svg' %}" alt="Book Icon">
                                </figure>
                                <figure class="image is-24x24">
                                    <img v-on:click="removeShelf" v-bind:data-index="index" v-bind:data-parent="shelf.id" v-bind:data-action="shelf.deleteURL" class="ml-2" src="{% static 'profiles/images/remove.svg' %}" alt="Remove Bookshelf Icon">
                                </figure>
                            </div>
                        </div>
                    </div>
                </article>

                <!-- List of Bookshelves Template -->
                {% include "books/includes/bookshelf_snippet.html" with shelves=shelves %}
                <!-- End List of Bookshelves -->
                {% include "books/includes/create_bookshelf_snippet.html" with form=form %}

                <div class="p-4 mt-4">
                    <h2 class="title is-3">Posts</h2>
                </div>
                {% for post in user.posts.all %}
                <article class="card block">
                    <div class="card-content">
                        <div class="block is-flex is-justify-content-space-between is-align-content-center">
                            <h5 class="is-size-5 has-text-weight-bold">{{ post.created_by.username }}</h5>
                            <p class="has-text-grey"><small>{{ post.created_at|naturaltime }}</small></p>
                        </div>
                        <p>{{ post.body }}</p>
                    </div>
                </article>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block scripts %}
<script>
    const app = Vue.createApp({
        delimiters: ['${', '}'],
        data() {
            return {
                shelfModalOpen: false,
                shelf_name: "",
                shelves: [],
                hovered: false,
                following: "{{ following }}" == "True",
                followerCount: parseInt("{{ user.profile.followed_by.count }}")
            }
        },
        methods: {
            toggleShelfModal() {
                this.shelfModalOpen = !this.shelfModalOpen;
            },
            addBookshelf() {
                if (this.shelf_name) {
                    const bookshelf = {
                        name: this.shelf_name,
                    }

                    fetch("{% url 'create_bookshelf' %}", {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/json",
                            "X-CSRFToken": "{{ csrf_token }}",
                        },
                        credentials: "same-origin",
                        body: JSON.stringify(bookshelf)
                    }).then(res => {
                        return res.json();
                    }).then(data => {
                        if (data.success) {
                            bookshelf.count = 0;
                            bookshelf.deleteURL = data.deleteURL;
                            bookshelf.detailURL = data.detailURL;
                            bookshelf.id = `shelf-${data.id}`;
                            this.shelves.unshift(bookshelf);
                        }
                    }).catch(err => {
                        console.log(err);
                    })
                }

                this.toggleShelfModal();
                this.shelf_name = "";
            },
            followUser() {
                this.following = true;
                this.followerCount++;
                fetch("{% url 'follow' user.username %}", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                        "X-CSRFToken": "{{ csrf_token }}",
                    },
                    credentials: "same-origin",
                }).then(res => {
                    console.log(res)
                }).catch(err => {
                    console.log(err);
                })
            },
            unfollow() {
                this.following = false;
                this.followerCount--;
                fetch("{% url 'unfollow' user.username %}", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                        "X-CSRFToken": "{{ csrf_token }}",
                    },
                    credentials: "same-origin",
                }).then(res => {
                    console.log(res);
                }).catch(err => {
                    console.log(err);
                })
            },
            removeShelf(event) {
                fetch(event.target.dataset.action, {
                    method: "DELETE",
                    headers: {
                        "Content-Type": "application/json",
                        "X-CSRFToken": "{{ csrf_token }}",
                    },
                    credentials: "same-origin",
                }).then(res => {
                    return res.json();
                }).then(data => {
                    if (data.success) {
                        if (event.target.dataset.ssr === "true") {
                            const parent = document.querySelector(`#${event.target.dataset.parent}`);
                            parent.remove();
                        }
                        this.shelves.splice(event.target.dataset.index, 1);
                    }
                }).catch(err => {
                    console.log(err);
                })
            },
        }
    });

    app.mount("#app");
</script>
{% endblock %}