{% extends 'core/base.html' %}

{% load humanize %}

{% block content %}
<section class="section">
    <div class="container">
        <div class="columns is-desktop">
            <div class="column">
                <div class="card">
                    <div class="card-content">
                        <div class="media">
                            <div class="media-left">
                                <figure class="image is-48x48">
                                    <img class="is-rounded" src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
                                </figure>
                            </div>
                            <div class="media-content">
                                <p class="title is-4">{{ user.username }}</p>
                                <p class="subtitle"><small class="has-text-grey is-size-6">{{ user.profile.followed_by.count }} followers</small></p>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde deleniti saepe laborum reprehenderit culpa facilis fugit laboriosam dicta voluptate eius, quod, accusamus, quis corporis voluptatum vel? Eius sequi iure sed.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column is-two-thirds-desktop">
                <div class="p-4">
                    <h2 class="title is-3">Books</h2>
                </div>
                <article class="card">
                    <div class="card-content">
                        <h5 class="title is-5">Book Title</h5>
                    </div>
                </article>
                <div class="p-4 mt-4">
                    <h2 class="title is-3">Posts</h2>
                </div>
                {% for post in user.posts.all %}
                <article class="card">
                    <div class="card-content">
                        <div class="block is-flex is-justify-content-space-between is-align-content-center">
                            <h5 class="is-size-5 has-text-weight-bold">{{ post.created_by.username }}</h5>
                            <p class="has-text-grey"><small>{{ post.created_at|naturaltime }}</small></p>
                        </div>
                        <p>{{ post.body }}</p>
                    </div>
                </article>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
{% endblock %}