{% load static %}

{% for bookshelf in shelves %}
<article class="card block is-clickable" id="shelf-{{ bookshelf.id }}">
    <div class="card-content is-flex is-justify-content-space-between is-align-content-center">
        <h5 class="title is-5 mb-0"><a href="{% url 'detail_bookshelf' bookshelf.id %}">{{ bookshelf }}</a></h5>
        <div class="is-flex is-justify-content-space-between is-align-content-center">
            {{ bookshelf.books.count }}
            <div class="is-flex">
                <figure class="image is-24x24 mr-2">
                    <img class="ml-2 " src="{% static 'profiles/images/book.svg' %}" alt="Book Icon">
                </figure>
                <figure class="image is-24x24">
                    <img v-on:click="removeShelf" data-ssr="true" data-parent="shelf-{{ bookshelf.id }}" data-action="{% url 'delete_bookshelf' bookshelf.id %}" class="ml-2" src="{% static 'profiles/images/remove.svg' %}" alt="Remove Bookshelf Icon">
                </figure>
            </div>
        </div>
    </div>
</article>
{% endfor %}