<div class="modal" v-bind:class="{'is-active': shelfModalOpen}">
    <div class="modal-background"></div>
    <div class="modal-content">
        <div class="card">
            <div class="card-content">
                <h2 class="title is-3">Create Bookshelf</h2>
                <form method="post" action="{% url 'create_bookshelf' %}" v-on:submit.prevent="addBookshelf">
                    {% csrf_token %}
                    <div class="field">
                        <div class="control">
                            <label for="id_name" class="label">{{ field.label }}</label>
                            <input v-model="shelf_name" id="id_name" name="name" class="input" type="text" placeholder="Name">
                        </div>
                    </div>
                    <div class="field">
                        <div class="control">
                            <label for="id_is_public" class="checkbox">
                                <input id="id_is_public" name="is_public" type="checkbox">
                                Make Bookshelf Public
                            </label>
                        </div>
                    </div>

                    <button type="submit" class="button is-primary mr-2 is-rounded">Create</button>
                    <button class="button is-light is-info is-rounded">Close</button>
                </form>
            </div>
        </div>
    </div>
    <button class="modal-close is-large" v-on:click="toggleShelfModal()" aria-label="close"></button>
</div>