{% extends 'core/base.html' %}

{% block content %}
<div class="container">
    <div class="columns">
        <div class="column is-12">
            <section class="hero">
                <div class="hero-body">
                    <div class="wrapper">
                        <h1 class="title">Connect. Share. Discover.</h1>
                        <h2 class="subtitle">Join Bookium to connect with friends, share books, and discover new titles.</h2>
                        <button class="button is-link is-rounded">Join Now</button>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
{% endblock %}