{% extends 'core/base.html' %}

{% load static humanize %}

{% block styles %}
<link rel="stylesheet" href="https://unpkg.com/bulma-modal-fx/dist/css/modal-fx.min.css" />
{% endblock %}

{% block content %}
<section class="section">
    <div class="container" id="feed-app">
        <div class="columns">
            <div class="column is-two-thirds">

                <div class="card">
                    <div class="card-content is-flex is-align-items-center">
                        <figure class="image mr-3 is-48x48">
                            <img class="is-rounded" src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
                        </figure>
                        <button class="fake-input-btn" type="button" v-on:click="openModal()">Connect with friends by sharing a book.</button>
                    </div>
                </div>

                <!-- Post Form Modal -->
                <div class="modal" v-bind:class="{'is-active': modal.opened}">
                    <div class="modal-background"></div>
                    <div class="modal-content">
                        <div class="wrapper-form has-background-white box">
                            <h2 class="title">Create Post</h2>
                            <form action="" v-on:submit.prevent="submitPost()">
                                <div class="field">
                                    <div class="control">
                                        <textarea class="textarea" v-model="body" placeholder="What book would you like to share?">

                                        </textarea>
                                    </div>
                                </div>
                                <div class="field">
                                    <div class="control">
                                        <button class="button is-primary is-rounded mr-2" type="submit">Post</button>
                                        <button v-on:click="openModal()" type="button" class="button is-light is-info is-rounded">Close</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <button class="modal-close is-large" aria-label="close" v-on:click="openModal()"></button>
                </div>
                <!-- End Modal -->

                <div class="wrapper-posts">
                    <div class="post" v-for="post in posts">
                        <div class="box mt-5">
                            <div class="block is-flex is-justify-content-space-between is-align-content-center">
                                <h5 class="is-size-5 has-text-weight-bold">${ post.user }</h5>
                                <p class="has-text-grey"><small>${ post.created_at }</small></p>
                            </div>
                            <p>${ post.body }</p>
                        </div>
                    </div>
                    {% for post in posts %}
                    <div class="post">
                        <div class="box mt-5">
                            <div class="block is-flex is-justify-content-space-between is-align-content-center">
                                <a href="{% url 'profile' post.created_by.username %}">
                                    <h5 class="is-size-5 has-text-weight-bold">{{ post.created_by.username }}</h5>
                                </a>
                                <p class="has-text-grey"><small>{{ post.created_at|naturaltime }}</small></p>
                            </div>
                            <p>{{ post.body }}</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>

            <div class="column">
                <article class="card">
                    <div class="card-content">
                        <h3 class="title is-4">Find Users</h3>
                        <form action="{% url 'search' %}" method="GET">
                            <label for="q" class="label is-hidden">Username</label>
                            <div class="control">
                                <input type="text" name="q" class="input is-rounded" placeholder="Search user">
                            </div>
                            <button type="submit" class="button is-rounded is-primary mt-3">Search</button>
                        </form>
                    </div>
                </article>

            </div>
        </div>
    </div>
</section>

{% endblock %}

{% block scripts %}
<script>
    const app = Vue.createApp({
        delimiters: ['${', '}'],
        data() {
            return {
                posts: [],
                body: "",
                user: "{{ request.user.username }}",
                created_at: "Now",
                modal: {
                    opened: false,
                }
            }
        },
        methods: {
            submitPost() {
                if (this.body.length > 0) {
                    const post = {
                        user: this.user,
                        body: this.body,
                        created_at: this.created_at
                    };

                    this.posts.unshift(post);

                    // Send to Backend
                    fetch("api/add_post/", {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/json",
                            "X-CSRFToken": "{{ csrf_token }}",
                        },
                        credentials: "same-origin",
                        body: JSON.stringify(post)
                    }).then(res => {
                        console.log(res)
                    }).catch(err => {
                        console.log(err);
                    })
                }
                this.body = "";
                this.openModal();
            },
            openModal() {
                this.modal.opened = !this.modal.opened;
            }
        }
    });

    app.mount('#feed-app');
</script>
{% endblock %}