{% extends "core/base.html" %}

{% load static sass_tags %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% sass_src 'css/book_detail.scss' %}">
{% endblock %}

{% block content %}
<section class="section" id="app">
    <div class="container">
        <div class="columns">
            <div class="column">
                <div class="is-flex is-justify-content-space-between is-align-content-center">
                    <h1 class="title is-2">Bookshelf: {{ object.name }}</h1>
                    <div class="field is-grouped">
                        <div class="control">
                            <button v-on:click="openModal()" class="button">Add Book</button>
                        </div>
                    </div>
                </div>
                <article v-for="book in selectedBooks" class="card block">
                    <div class="card-content">
                        <div class="media">
                            <div v-if="book.imageLinks" class="media-left">
                                <figure class="image is-64x64">
                                    <img v-bind:src="book.imageLinks.smallThumbnail" v-bind:alt="book.title">
                                </figure>
                            </div>
                            <div class="media-content">
                                <h5 class="title is-5">${ book.title }</h5>
                                <p v-if="book.subtitle" class="subtitle"><small>${ book.subtitle }</small></p>
                                <p>${ book.description }</p>
                            </div>

                            <div class="media-right">
                                <figure class="image is-32x32">
                                    <img role="button" class="is-clickable" src="{% static 'profiles/images/more.svg' %}" alt="Edit Book">
                                </figure>
                            </div>
                        </div>
                    </div>
                </article>
                {% for book in object.books.all %}
                <article class="card block" id="book-{{ book.id }}">
                    <div class="card-content">
                        <div class="media">
                            {% if book.image_link %}
                            <div class="media-left">
                                <figure class="image is-64x64">
                                    <img src="{{ book.image_link }}" alt="{{ book.title }}">
                                </figure>
                            </div>
                            {% endif %}
                            <div class="media-content">
                                <h5 class="title is-5">{{ book.title }}</h5>
                                {% if book.subtitle %}
                                <p class="subtitle"><small>{{ book.subtitle }}</small></p>
                                {% endif %}
                                <p>{{ book.description }}</p>
                            </div>

                            <div class="media-right">
                                <figure class="image is-32x32">
                                    <img v-on:click="openEditMenu" data-id="{{ book.id }}" role="button" class="is-clickable" src="{% static 'profiles/images/more.svg' %}" alt="Edit Book">
                                </figure>
                                <div class="box editing-menu" id="edit-{{ book.id }}" v-bind:class={active:editMenuOpen}>
                                    <div class="wrapper is-flex is-align-content-center mb-3 is-clickable">
                                        <figure class="image is-24x24 mr-2">
                                            <img role="button" src="{% static 'profiles/images/edit.svg' %}" alt="Edit Book">
                                        </figure>
                                        Edit
                                    </div>
                                    <div class="wrapper is-flex is-align-content-center is-clickable">
                                        <figure class="image mr-2 is-24x24">
                                            <img v-on:click="deleteBook" data-id="{{ book.id }}" data-action="{% url 'delete_book' book.id %}" role="button" src="{% static 'profiles/images/remove.svg' %}" alt="Edit Book">
                                        </figure>
                                        Delete
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
                {% empty %}
                <article class="card">
                    <div class="card-content">
                        <h2 class="title is-5">You have no books in your bookshelf.</h2>
                    </div>
                </article>
                {% endfor %}

                {% include "books/includes/create_book_snippet.html" %}
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block scripts %}
<script>
    const app = Vue.createApp({
        delimiters: ['${', '}'],
        data() {
            return {
                createBookModalOpen: false,
                addBookManually: false,
                editMenuOpen: false,
                query: "",
                books: [],
                selectedBooks: [],
            }
        },
        methods: {
            openModal() {
                this.createBookModalOpen = !this.createBookModalOpen;
            },
            openEditMenu(event) {
                if (event.target.dataset.id) {
                    const menu = document.querySelector(`#edit-${event.target.dataset.id}`);
                    menu.classList.toggle("active");
                } else {
                    this.editMenuOpen = !this.editMenuOpen;
                }
            },
            addBook(index) {
                this.selectedBooks.push(this.books[index]);
                const book = this.books.splice(index, 1)[0];

                const data = {
                    title: book.title ? book.title : null,
                    subtitle: book.subtitle ? book.subtitle : null,
                    author: book.authors ? book.authors[0] : null,
                    description: book.description ? book.description : null,
                    image_link: book.imageLinks ? book.imageLinks.smallThumbnail : null,
                    page_count: book.pageCount ? book.pageCount : null,
                    published_year: book.publishedDate ? book.publishedDate : null,
                }

                fetch("{% url 'create_book' object.id %}", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                        "X-CSRFToken": "{{ csrf_token }}",
                    },
                    credentials: "same-origin",
                    body: JSON.stringify(data)
                }).then(res => {
                    return res.json();
                }).then(data => {
                    if (data.success) {
                        this.openModal();
                        this.books = [];
                    }
                }).catch(error => {
                    console.log(error);
                })

            },
            deleteBook(event) {
                fetch(event.target.dataset.action, {
                    method: "DELETE",
                    headers: {
                        "Content-Type": "application/json",
                        "X-CSRFToken": "{{ csrf_token }}",
                    },
                    credentials: "same-origin",
                }).then(res => {
                    return res.json();
                }).then(data => {
                    if (data.success) {
                        if (event.target.dataset.id) {
                            const book = document.querySelector(`#book-${event.target.dataset.id}`);
                            book.remove();
                        }
                    }
                }).catch(error => {
                    console.log(error);
                })
            },
            searchBook() {
                fetch("{% url 'search_book' %}?" + new URLSearchParams({
                    q: this.query,
                })).then(res => {
                    return res.json();
                }).then(data => {
                    console.log(data.items);
                    for (let i = 0; i < 10; i++) {
                        this.books.push(data.items[i].volumeInfo);
                    }
                }).catch(error => {
                    console.log(error);
                })
            }
        },
    });

    app.mount("#app")
</script>
{% endblock %}